/examples/build/*
/coverage/*
/build/*
/dist/*
/.vscode/*
/scripts/*
**/*.txt
**/*.snap
*.png
*.svg

.DS_Store
.eslintignore
.prettierignore
.gitignore
.gitattributes
.npmignore
.nvmrc
.browserslistrc
